---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import Card from '@/components/home/Card.astro'

import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const programming = ['Python', 'JavaScript', 'TypeScript', 'C/C++', 'Java', 'Clojure', 'SQL', 'HTML&CSS']
const tools = ['React', 'Node.js', 'Next.js', 'Vite', 'Flask', 'Sanic', 'Django', 'RESTful API', 'MySQL', 'SQLite3', 'PostgreSQL', 'HBase']
const machinelearnings = ['PyTorch', 'sklearn', 'semopy', 'numpy', 'SentenceTransformers', 'D3.js', 'matplotlib', 'pandas']
const frameworks = ['AWS EC2', 'Docker', 'Kubernetes', 'Flink', 'Kafka', 'HDFS'
]

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#659EB9'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='Notre Dame, IN'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Email'
            as='a'
            href='lli27@nd.edu'
            target='_blank'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/Leoreoreo'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>Software Developer / HCI Researcher</p>
        <p class='text-muted-foreground'>
          I am a 26' undergraduate student at <a href="https://www.nd.edu">the University of Notre Dame</a>, persuing <a href="https://cse.nd.edu/undergraduate/">B.S. in Computer Science</a> and <a href="https://acms.nd.edu/undergraduate/">ACMS (suppl.)</a>. 
          My research interest lies in the interaction of Usable Privacy and Security, LLM Social Simulation, and Human-Centered AI.
        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>

      <Section title='Education'>
        <Card
          heading='University of Notre Dame'
          subheading='B.S. in Computer Science'
          date='Aug. 2022 - May 2026'
          image="/home/nd.jpg"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
              GPA: 3.95/4.00
          </ul>
        </Card>
      </Section>

      <Section title='Publications'>
        <Card
          heading='Why am I seeing this: Democratizing End User Auditing for Online Content Recommendations'
          subheading='Chaoran Chen, Leyang Li, Luke Cao, Yanfang Ye, Tianshi Li, Yaxing Yao, Toby Jia-Jun Li'
          date='In Proceedings of the 38th Annual ACM Symposium on User Interface Software and Technology'
          image="/home/PrivacySandbox.png"
        >
          UIST’25
          <p>
            <a href='https://dl.acm.org/doi/10.1145/3746059.3747798' target='_blank'>[Paper]</a>
            | 
            <a href='https://www.youtube.com/watch?v=3I_zgTW02a8' target='_blank'>[Video]</a>
          </p>
        </Card>
        <Card
          heading='AROMA: Mixed-Initiative AI Assistance for Non-Visual Cooking by Grounding Multimodal Information Between Reality and Videos'
          subheading='Zheng Ning, Leyang Li, Daniel Killough, JooYoung Seo, Patrick Carrington, Yapeng Tian, Yuhang Zhao, Franklin Mingzhe Li, Toby Jia-Jun Li'
          date='In Proceedings of the 38th Annual ACM Symposium on User Interface Software and Technology'
          image="/home/AROMA.png"
        >
          UIST’25
          <p>
            <a href='https://dl.acm.org/doi/10.1145/3746059.3747650' target='_blank'>[Paper]</a>
             | 
            <a href='https://www.youtube.com/watch?v=hi7YsFJp5KQ' target='_blank'>[Video]</a>
          </p>
        </Card>
      </Section>

      <Section title='Experience'>
        <Card
          heading='Researcher Intern'
          subheading='SPUD Lab, HCII, Carnegie Mellon University'
          date='May 2025 - Present'
          image="/home/hcii.png"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Advised by Prof. Sauvik Das.
            </li>
            <li>
              PriSim: A benchmark to simulate and evaluate LLM agents' privacy decision-making.
            </li>
          </ul>
        </Card>
        <Card
          heading='Research Assistant'
          subheading='SaNDwich Lab, University of Notre Dame'
          date='Sept. 2023 - Present'
          image="/home/sandwich_logo.png"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Advised by Prof. Toby Jia-Jun Li.
            <li>
              AROMA: A multimodal cooking assistant for BLV users, providing both reactive and proactive assistance.
            </li>
            <li>
              Privacy Auditing Sandbox: An interactive interface for end-user auditing of online content recommendations using AI-generated virtual personas.
            </li>
          </ul>
        </Card>
        <Card
          heading='Teaching Assistant: Operating System Principles'
          subheading='CSE Department, University of Notre Dame'
          date='Jan. - May 2025'
          image="/home/nd.jpg"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Led office hours, graded assignments, projects, and exams.
            </li>
          </ul>
        </Card>
        <Card
          heading='Software Engineer Intern'
          subheading='China Construction Bank Fintech'
          date='Jun. - Aug. 2024'
          image="/home/ccb.jpg"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Big Data System Maintenance (Flink-based Kafka consumer)
            </li>
          </ul>
        </Card>
        <Card
          heading='Data Analyst Intern'
          subheading='Everbright Securities Asset Management'
          date='Jul. - Aug. 2023'
          image="/home/everbright.jpg"
        >
          <ul class='ms-4 list-disc text-muted-foreground'>
            <li>
              Machine Learning for Investment (GRU with multi-head self-attention)
            </li>
          </ul>
        </Card>
      </Section>

      <!-- <Section title='Website List'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'
            heading='Lorem ipsum'
            subheading='dolor sit amet, oratio ornatus explicari pro ex'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section> -->
      <Section title='Awards'>
        <Card
          as='a'
          heading='First Place, Hesburgh Libraries Hackathon 2025'
          subheading='Apr. 2025, University of Notre Dame'
          date='($3000 award)'
          href='https://hackathon.library.nd.edu/'
          image="/home/hackathon2025.png"
        />
        <Card
          as='a'
          heading='Best Use of External Data, ASA DataFest 2025 at Notre Dame'
          subheading='Mar. 2025, American Statistical Association'
          date='($1000 award)'
          href='https://vweber1.wixsite.com/datafest-nd/'
          image="/home/datafest.jpg"
        />
        <Card
          heading='Frank Reilly Scholar'
          subheading='2024, University of Notre Dame'
          date='($5000)'
          image="/home/nd.jpg"
        />
        <Card
          as='a'
          heading='Second Place, Hesburgh Libraries Hackathon 2024'
          subheading='Apr. 2024, University of Notre Dame'
          date='($2000 award)'
          image="/home/hackathon2024.png"
          href='https://www.library.nd.edu/news/hesburgh-libraries-announces-2024-hackathon-winners/'
        />
        <Card
          heading='Great China Scholar'
          subheading='2022, University of Notre Dame'
          date='($5000)'
          image="/home/nd.jpg"
        />
        <Card
          heading='Deans Honor List'
          subheading='University of Notre Dame'
          date='2023-2025 all semesters'
          image="/home/nd.jpg"
        />

      </Section>

      <Section title='Skills'>
        <SkillLayout title='Programming' skills={programming} />
        <SkillLayout title='Tools' skills={tools} />
        <SkillLayout title='Data Science & ML' skills={machinelearnings} />
        <SkillLayout title='Frameworks' skills={frameworks} />
      </Section>

      <!-- {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} />
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      } -->
    </div>
    <!-- <Quote class='mt-12' /> -->
  </main>
</PageLayout>
